<!DOCTYPE html>
<html lang="en" xmlns="https://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="adminHead" th:insert="index :: headPage('Employee', ~{:: link})" >
	<link rel="stylesheet" href="/css/datatables.bootstrap4.min.css">
</head>
<body th:fragment="adminBody(data, dataScript)" th:insert="index :: bodyHome(~{:: .option_list}, ~{:: #container}, ~{:: .menu_option}, ~{:: #script})">

	<!-- // Menu lateral //////////////////////////////////////////////// -->
  	<li class="nav-item option_list">
       <a class="nav-link" th:href="@{/company/}">
         <i class="menu-icon fa fa-building"></i>
         <span class="menu-title">Empresas</span>
       </a>
    </li>
  	<li class="nav-item option_list">
       <a class="nav-link" th:href="@{/company_type/}">
         <i class="menu-icon fa fa-folder"></i>
         <span class="menu-title">Rubros</span>
       </a>
    </li>
  	<li class="nav-item option_list">
       <a class="nav-link" th:href="@{/users/}">
         <i class="menu-icon fa fa-users"></i>
         <span class="menu-title">usuarios</span>
       </a>
    </li>
  	<li class="nav-item option_list">
       <a class="nav-link" href="pages/charts/chartjs.html">
         <i class="menu-icon fa fa-money"></i>
         <span class="menu-title">Promociones</span>
       </a>
    </li>
	<!-- //////////////////////////////////////////////////////////////// -->
	
	<section id="container">
		<div th:replace="${data} ?: _"></div>
	</section>
	
	<span id="script">
		<script type="text/javascript" src="/js/datatables.bootstrap4.min.js"></script>
		<th:block th:replace="${dataScript} ?: _" />
	</span>
	
</body>
</html>