<!DOCTYPE html>
<html lang="en" xmlns="https://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="index :: headPage('Company', ~{:: link})" >
<meta charset="utf-8">
</head>
<body th:insert="index :: bodyHome(~{:: .option_list}, ~{:: #container}, ~{:: .menu_option}, ~{:: script})">
	
	<li class="nav-item option_list">
	    <a class="nav-link" th:href="@{promotion/new}">
	      <i class="menu-icon mdi mdi-backup-restore"></i>
	      <span class="menu-title">Ingresar Promoción</span>
	    </a>
     </li>
	<li class="nav-item option_list">
    	<a class="nav-link" th:href="@{promotion/list_company}">
	    	<i class="menu-icon mdi mdi-backup-restore"></i>
	        <span class="menu-title">Lista de promociones</span>
        </a>
    </li>
	
     
	
	<section id="container">
		Modo Empresa
	</section>
</body>
</html>