<!DOCTYPE html>
<html lang="en" xmlns="https://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="companyHead" th:insert="index :: headPage('Employee', ~{:: link})" ></head>
<body th:fragment="companyBody(data, dataScript)" th:insert="index :: bodyHome(~{:: .option_list}, ~{:: #container}, ~{:: .menu_option}, ~{:: #script})">
	
	<li class="nav-item option_list">
       <a class="nav-link" th:href="@{/company/configuration/}">
         <i class="menu-icon fa fa-user-circle-o"></i>
         <span class="menu-title">Configurar Cuenta</span>
       </a>
    </li>
	
	<li class="nav-item option_list">
	    <a class="nav-link" th:href="@{promotion/new}">
	      <i class="menu-icon mdi mdi-backup-restore"></i>
	      <span class="menu-title">Ingresar Promoción</span>
	    </a>
     </li>
	<li class="nav-item option_list">
    	<a class="nav-link" th:href="@{promotion/list_company}">
	    	<i class="menu-icon mdi mdi-backup-restore"></i>
	        <span class="menu-title">Lista de promociones</span>
        </a>
    </li>
	
     
	
	<section id="container">
		<div th:replace="${data} ?: _"></div>
	</section>
	
	<span id="script">
		<script type="text/javascript" src="/js/datatables.bootstrap4.min.js"></script>
		<th:block th:replace="${dataScript} ?: _" />
	</span>
</body>
</html>