<!DOCTYPE html>
<html lang="en" xmlns="https://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="index :: headPage('Detalle del cupon', ~{:: link})" >
	<link rel="stylesheet" href="/css/datatables.bootstrap4.min.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body th:insert="index :: bodyHome(~{:: .option_list}, ~{:: #container}, ~{:: .menu_option}, ~{:: #script})">

	<section id="container">
		<article th:if="${state}" class="d-flex justify-content-between mb-2">
		    <h3 th:text="${ 'Oferta: ' + promotion.title}" ></h3>
	     </article>
	
		<article th:if="${state}">
			<div class="card border-success">
		     	<div class="card-body">
		   			<h5 class="card-title" th:utext="${'Compañia distribuidora: ' + promotion.company.name}" ></h5>
		    		<p class="card-text" th:utext="${promotion.description}"></p>
		    		<p class="card-text">
		    			<small class="text-muted" th:text="${ 'Fecha de inicio: ' + promotion.initDate}" ></small> | <small class="text-muted" th:text="${ 'Fecha limite: ' + promotion.limitDate}" ></small> | <small class="text-muted" th:text="${ 'Fecha de vencimiento: ' + promotion.endDate}" ></small>
	    			</p>
		    		<p class="card-text">
		    			<a href="/login" class="btn btn-outline-primary">Comprar cupon</a>
		    		</p>
		  		</div>
		  
		  		<img class="card-img-bottom" th:src="@{${'/promotions_images/' + promotion.image}}" alt="Card image cap">
			</div>
		</article>
		
		<article th:if="${!state}">
			<div class="alert alert-danger" role="alert">
		  		La promocion no es válida
			</div>
		</article>
	</section>
	
	<span id="script">
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
	</span>
	
</body>
</html>