<!DOCTYPE html>
<html lang="en" xmlns="https://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headPage(title, links)">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <title th:text="'Cuponera | ' + (${ title } ?: 'Home')" ></title>
  
  <link rel="stylesheet" href="/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/vendors/iconfonts/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="/vendors/css/vendor.bundle.addons.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="shortcut icon" href="/images/favicon.png" />
  
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/alertify.css">
  <link rel="stylesheet" href="/css/jquery-confirm.css">
  
  <th:block th:replace="${links} ?: _" />
</head>
<body th:fragment="bodyHome(listOption, container, menu, scripts)" >
  <div class="container-scroller">
    
    <!-- Menu principal -->
    <nav th:fragment="nav_bar" class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
        <a class="navbar-brand brand-logo" href="/">
          <img src="/images/coupon_large.svg" alt="logo" />
        </a>
        <a class="navbar-brand brand-logo-mini" href="/">
          <img src="/images/coupon.svg" alt="logo" />
        </a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center">
        <ul class="navbar-nav navbar-nav-left header-links d-none d-md-flex">
          <li th:switch="${user == null}" class="nav-item">
            <a th:case="true" href="#" class="nav-link">Cupones
              <span class="badge badge-primary ml-1">New</span>
            </a>
          </li>
          <div th:replace="${menu} ?: _">
        </ul>
        
        <ul th:switch="${user != null}" class="navbar-nav navbar-nav-right">
          <li th:case="true" class="nav-item dropdown d-none d-xl-inline-block">
            <a th:switch='${userType.equals("empresa")}' class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
            	<span th:case="true" class="profile-text" th:text="${user.name}"></span>
              	<span th:case="*" class="profile-text" th:text='${user.name + " " + user.lastName }'></span>
              <img class="img-xs rounded-circle" src="/images/settings.png" alt="Profile image">
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
              <a class="dropdown-item">
              	<form th:action="@{/logout}" method="POST">
					<button class="btn btn-danger btn-block" type="submit">Sign Out <i class="fa fa-sign-out"></i></button>
				</form>
              </a>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
    
    <!-- partial -->
    <div class="container-fluid page-body-wrapper" th:fragment="menu">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li th:switch="${user != null}" class="nav-item nav-profile">
            <div th:case="true" class="nav-link">
              <div class="user-wrapper">
                <div class="profile-image">
                  <img src="/images/ghost.png" alt="profile image">
                </div>
                <div class="text-wrapper">
                  
                  <span th:switch='${userType.equals("empresa")}'>
                  	<p th:case="true" class="profile-name" th:text='${user.name}'></p>
                  	<p th:case="*" class="profile-name" th:text='${user.name + " " + user.lastName }'></p>
                  </span>
                  <div>
                    <small class="designation text-muted" th:text="${userType}"></small>
                    <span class="status-indicator online"></span>
                  </div>
                </div>
              </div>
            </div>
			<!--             <div th:case="*" class="nav-link">
            	<button class="btn btn-success btn-block"> Comprar Cupon
                	<i class="fa fa-money"></i>
              	</button>
            </div> -->
          </li>
          <span th:replace="${listOption} ?: _"></span>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
        	<div th:replace="${container} ?: _">
		    </div>
        </div>
        
        <footer class="footer">
          <div class="container-fluid clearfix">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2018. El Salvador All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Universidad Don Bosco</span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="/vendors/js/vendor.bundle.base.js"></script>
  <script src="/vendors/js/vendor.bundle.addons.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="/js/off-canvas.js"></script>
  <script src="/js/misc.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="/js/dashboard.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/alertify.js"></script>
  <script src="/js/jquery-confirm.js"></script>
  <!-- End custom js for this page-->
  
  <th:block th:replace="${scripts} ?: _" />
</body>

</html>