<!DOCTYPE html>
<html lang="en" xmlns="https://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <title>Cuponera | Recuperar clave</title>
    	
  <link rel="stylesheet" href="/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/vendors/iconfonts/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="/vendors/css/vendor.bundle.addons.css">
  
  <link rel="stylesheet" href="/css/style.css">
  <link rel="shortcut icon" href="/images/favicon.png" />
  <link rel="stylesheet" href="/css/alertify.css">
  <link rel="stylesheet" href="/css/jquery-confirm.css">
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
      <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
        <div class="row w-100">
          <div class="col-lg-4 mx-auto">
            <div class="auto-form-wrapper">
            
			<form id="frmUsuarios" role="form" method="POST" th:action="'/users/exist_mail'">
               	<div class="form-group">
               		<label for="mail" class="label">E-Mail</label>
                  	<div class="input-group">
                    	<input type="email" name="mail" id="mail" required class="form-control" placeholder="xxxx@xmail.com" data-validation="email" />
                   		<div class="input-group-append">
                    		<span class="input-group-text">
                       			<i class="fa fa-asterisk"></i>
                     		</span>
                    	</div>
                  	</div>
                </div>
                
                <div class="form-group">
                  	<button class="btn btn-primary submit-btn btn-block">Recuperar clave</button>
                </div>
            </form>
            </div>
            
            <p class="footer-text text-center">copyright © 2018 El Salvador. All rights reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  	<script src="/vendors/js/vendor.bundle.base.js"></script>
 	<script src="/vendors/js/vendor.bundle.addons.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  	<script src="/js/off-canvas.js"></script>
  	<script src="/js/misc.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
	<script src="/js/alertify.js"></script>
 	<script src="/js/jquery-confirm.js"></script>
	
	<script>
		$.validate({ lang: 'es' });
		
		$("#frmUsuarios").submit(function(event){
			let form = $(this);
			
			$.ajax({
			  	url: form.attr("action"),
			  	data: form.serialize(),
			  	dataType: "json",
			  	method: "POST",
			  	success: function(data){
			  		if (data.state) {			
					  	alertify.success("La clave se ha modificado con exito");
				  	} else {
				  		alertify.error(data.error);
				  	}  
			  	},
			  	error: function(jqXHR, textStatus, errorThrown) {
			  		alertify.error("Error: " + errorThrown);
			  	}
			});
			
			event.preventDefault();
		});
		
	</script>
</body>

</html>