<!DOCTYPE html>
<html lang="en" xmlns="https://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="index :: headPage('Employee', ~{:: link})" ></head>
<body th:insert="index :: bodyHome(~{:: .option_list}, ~{:: #container}, ~{:: script})">
	<li class="nav-item option_list">
	    <a class="nav-link" href="../../pages/forms/basic_elements.html">
	      <i class="menu-icon mdi mdi-backup-restore"></i>
	      <span class="menu-title">Form elements</span>
	    </a>
     </li>
     <li class="nav-item option_list">
        <a class="nav-link" href="../../pages/forms/basic_elements.html">
	         <i class="menu-icon mdi mdi-backup-restore"></i>
	         <span class="menu-title">Form elements</span>
        </a>
      </li>
	
	<section id="container">
		<h2 class="text-cenet">Ingresar promoción</h2>
	</section>
</body>
</html>