<!DOCTYPE html>
<html lang="en" xmlns="https://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:insert="index :: headPage('Company', ~{:: link})">
<meta charset="utf-8">
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.1/build/css/alertify.min.css"/>
<!-- Default theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.1/build/css/themes/default.min.css"/>
<!-- Semantic UI theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.1/build/css/themes/semantic.min.css"/>
<!-- Bootstrap theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.1/build/css/themes/bootstrap.min.css"/>
	<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.1/build/alertify.min.js"></script>
</head>
<body
	th:insert="index :: bodyHome(~{:: .option_list}, ~{:: #container}, ~{:: .menu_option}, ~{:: script})">
	<li class="nav-item option_list">
       <a class="nav-link" th:href="@{/company/configuration/}">
         <i class="menu-icon fa fa-user-circle-o"></i>
         <span class="menu-title">Configurar Cuenta</span>
       </a>
    </li>
	
	<li class="nav-item option_list">
	    <a class="nav-link" th:href="@{/promotion/new}">
	      <i class="menu-icon mdi mdi-backup-restore"></i>
	      <span class="menu-title">Ingresar Promoción</span>
	    </a>
     </li>
	<li class="nav-item option_list">
    	<a class="nav-link" th:href="@{/promotion/list_company}">
	    	<i class="menu-icon mdi mdi-backup-restore"></i>
	        <span class="menu-title">Lista de promociones</span>
        </a>
    </li>

	<section id="container">
		<div class="row">
			<div class="col-md-10 offset-md-1 col-lg-10 offset-lg-1 col-sm-12">
				<div th:if="${errorMsg != null}">
					<div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
					  <strong th:text="${errorMsg}"></strong>
					  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
					   	<span aria-hidden="true">&times;</span>
					  </button>
					</div>
				</div>
				<div th:if="${confirmMsg != null}">
					<div class="alert alert-success alert-dismissible fade show text-center" role="alert">
					  <strong th:text="${confirmMsg}"></strong>
					  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
					   	<span aria-hidden="true">&times;</span>
					  </button>
					</div>
				</div>
			</div>
		</div>
		<h2 class="text-center">Lista de promociones</h2>
		<div class="row">
			<div class="table-responsive">
				<table id="tbl_promotions" class="table table-bordered ">
					<thead>
						<tr class="bg-primary text-white">
							<th>Nombre</th>
							<th>Precio regular [$]</th>
							<th>Precio oferta [$]</th>
							<th>Estado</th>
							<th>Opciones</th>
						</tr>
					</thead>
					<tbody th:each="promotion : ${lista} ">
						<tr class="table-light">
							<td th:text="${promotion.title}"></td>
							<td th:text="${promotion.regularPrice}"></td>
							<td th:text="${promotion.ofertPrice}"></td>
							<td th:text="${promotion.state.state}"></td>
							<td th:if="${promotion.state.id == 3}">
								<a th:href="@{/promotion/show_company/{id}(id=${promotion.id})}" role='button' class='btn btn-primary'>Detalles</a>
								<a th:href="@{/promotion/edit/{id}(id=${promotion.id})}" role="button" class='btn btn-secondary btnEditar'>Editar</a>
								<button class='btn btn-danger btnEliminar' th:attr="idpromotion=${promotion.id}">Eliminar</button>
							</td>
							<td th:if="${promotion.state.id != 3}">
								<a th:href="@{/promotion/show_company/{id}(id=${promotion.id})}" role='button' class='btn btn-primary'>Detalles</a>
								<button disabled class='btn btn-secondary'>Editar</button>
								<button disabled class='btn btn-danger'>Eliminar</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>
	<script type="text/javascript" src="/js/datatables.bootstrap4.min.js"></script>
	<script type="text/javascript">
		$(document).ready( function () {
			$('#tbl_promotions').DataTable();

			$('.btnEliminar').click(function(){
				let idPromotion = $(this).attr('idpromotion');

				alertify.confirm('Eliminar promoción', '¿Esta seguro de eliminar la promoción?', function(){
					$.ajax({
						url: '/promotion/delete/'+idPromotion,
						type: 'DELETE',
						success: function(res){
							alertify.success(res, 2, function(){ location.reload(); });
						},
						error: function(jqXHR, textStatus, errorThrown){
							alertify.error('Error en el proceso de aprobación');
						}
					});
				}, function(){});
			});
		});
	</script>
</body>
</html>